
.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid;
  @include button-size($btn-padding-y, $btn-fixed-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  height: $input-btn-fixed-height;




}





//
// Alternate buttons
//

@each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value);
    }
  }

  // @each $color, $value in $theme-colors {
  //     .btn-outline-#{$color} {
  //       @include button-outline-variant($value);
  //     }
  //   }



.sqr{
    height: $input-btn-fixed-height;
    width: $input-btn-fixed-width;
    padding: 0 0 0 0;
}



.circle-lx{
    height: 48px;
    width: 48px;
    border-radius: 9999px;
    padding: 0 0;

    img{
        margin-bottom: 1%;
        margin-left: 14%;
        width:50%;
    }
    // border-bottom-left-radius: $input-btn-circle-diameter;
    // border-bottom-right-radius: $input-btn-circle-diameter;
    // border-top-left-radius: $input-btn-circle-diameter;
    // border-top-right-radius: $input-btn-circle-diameter;
}

.circle-lg{
    height: 36px;
    width: 36px;
    border-radius: 9999px;
    padding: 0 0 0 0;
    font-size: 75%;
    img{
        margin-bottom: 3%;
        margin-left: 3%;
        width:60%;
    }
    // border-bottom-left-radius: $input-btn-circle-diameter;
    // border-bottom-right-radius: $input-btn-circle-diameter;
    // border-top-left-radius: $input-btn-circle-diameter;
    // border-top-right-radius: $input-btn-circle-diameter;
}

.circle-md{
    height: 32px;
    width: 32px;
    border-radius: 9999px;
    padding: 0 0 0 0;
    img{
        margin-bottom: 8%;
        margin-left: 12%;
        width:50%;
    }
    // border-bottom-left-radius: $input-btn-circle-diameter;
    // border-bottom-right-radius: $input-btn-circle-diameter;
    // border-top-left-radius: $input-btn-circle-diameter;
    // border-top-right-radius: $input-btn-circle-diameter;
}

.circle-sm{
    height: 28px;
    width: 28px;
    border-radius: 9999px;
    padding: 0 0 0 0;
    font-size: 75%;
    img{
        margin-bottom: 3%;
        margin-left: 3%;
        width:60%;
    }
    // border-bottom-left-radius: $input-btn-circle-diameter;
    // border-bottom-right-radius: $input-btn-circle-diameter;
    // border-top-left-radius: $input-btn-circle-diameter;
    // border-top-right-radius: $input-btn-circle-diameter;
}

.circle-sx{
    height: 24px;
    width: 24px;
    border-radius: 9999px;
    padding: 0 0 0 0;
    img{
        margin-bottom: 16%;
        margin-left: 3%;
        width:70%;
    }
    // border-bottom-left-radius: $input-btn-circle-diameter;
    // border-bottom-right-radius: $input-btn-circle-diameter;
    // border-top-left-radius: $input-btn-circle-diameter;
    // border-top-right-radius: $input-btn-circle-diameter;
}


.btn-icon{
    border-radius: 4px;
    opacity: 0.7;
    transition: 0.3s;
    border: 0;
    &:hover{
        background-color: rgba(255,255,255,0.2);
        transition: all .3s;
    }
    &:focus{
        background-color: rgba(255,255,255,0.3);
        opacity: 1.0;
        transition: .1s;
    }
}
