
.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid;
  @include button-size($btn-padding-y, $btn-fixed-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  height: $input-btn-fixed-height;




}





//
// Alternate buttons
//

@each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value);
    }
  }

  // @each $color, $value in $theme-colors {
  //     .btn-outline-#{$color} {
  //       @include button-outline-variant($value);
  //     }
  //   }



.sqr{
    height: $input-btn-fixed-height;
    width: $input-btn-fixed-width;
    padding: 0 0;
}

.circle{
    height: $input-btn-circle-diameter;
    width: $input-btn-circle-diameter;
    border-radius: $input-btn-circle-radius;
    border-bottom-left-radius: $input-btn-circle-diameter;
    border-bottom-right-radius: $input-btn-circle-diameter;
    border-top-left-radius: $input-btn-circle-diameter;
    border-top-right-radius: $input-btn-circle-diameter;
    padding: 0 0;

}
